@font-face {
  font-family: 'AQUIX-chat';
  src: url('../public/fonts/AQUIX.ttf?iQsE') format('truetype'),
  url('../public/fonts/AQUIX.woff?iQsE') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.json-chat {
  font-family: 'AQUIX-chat' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 15px;
  opacity: 1 !important;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-attach-file:before {
  content: "\e900";
}

.icon-chat_small:before {
  content: "\e901";
}

.icon-emoticons:before {
  content: "\e902";
}

.icon-send:before {
  content: "\e903";
}

.icon-chat:before {
  content: "\e904";
}

.icon-info:before {
  content: "\e905";
}

.icon-active-chat:before {
  content: "\e906";
}

.icon-close-chat:before {
  content: "\e907";
}

.icon-close-messages:before {
  content: "\e908";
}

.icon-bin:before {
  content: "\e909";
}

.icon-loop:before {
  content: "\e90a";
}
