.chat-container {
  transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  height: calc(100% - 64px);
  background: #FFFFFF;
  position: fixed;
  display: flex;
  width: 580px;
  z-index: 1;
  top: 64px;
  right: 0;
}

.chat-container-hide {
  transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transform: translateX(110%);
}

.chat-container-show {
  transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transform: translateX(0);
}

.chat-wrapper {
  background: #FFFFFF;
  line-height: 100%;
  display: flex;
  height: 100%;
  width: 100%;
}

.chat-dialogues-container {
  border: 1px solid #E9E9E9;
  background: #FFFFFF;
  flex-flow: column;
  max-height: 100%;
  max-width: 240px;
  display: flex;
  height: 100%;
  width: 100%;
}

.chat-dialogues-header {
  padding: 10px 8px;
  height: auto;
  width: 100%;
  border-bottom: 1px solid #e9e9e9;
}

.chat-dialogues-header-search {
  transition: border 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 6px;
  box-shadow: none;
  height: 24px;
  width: 100%;
}

.chat-dialogues-header-search:focus-visible {
  border-color: #188FFC;
  outline: none;
}

.chat-dialogues-header-search::placeholder {
  color: rgba(0, 0, 0, 0.45);
  font-size: 12px;
}

.chat-dialogues-header-dialogue_tabs::-webkit-scrollbar {
  height: 0;
}

.chat-dialogues-header-dialogue_tabs {
  overflow: auto hidden;
  display: flex;
  width: 100%;
}

.chat-dialogues-header-dialogue_tabs-item {
  transition: color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  color: rgba(0, 0, 0, 0.45);
  line-height: 240%;
  font-weight: 500;
  font-size: 12px;
  cursor: pointer;
}

.chat-dialogues-header-dialogue_tabs-item-wrapper {
  align-items: center;
  user-select: none;
  display: flex;
  margin: 0 8px;
}

.chat-dialogues-header-dialogue_tabs-item:hover {
  color: #188FFC;
}

.chat-dialogues-header-dialogue_tabs-item-active {
  border-bottom: 1px solid #188FFC;
}

.chat-dialogues-header-dialogue_tabs-item-active > .chat-dialogues-header-dialogue_tabs-item {
  color: #188FFC;
}

.chat-dialogues-header-dialogue_tabs-item-wrapper:first-child {
  margin-left: 0;
}

.chat-dialogues-header-dialogue_tabs-item-wrapper:last-child {
  margin-right: 0;
}

.chat-correspondence-content::-webkit-scrollbar,
.chat-dialogues-content::-webkit-scrollbar {
  width: 5px;
}

.chat-correspondence-content::-webkit-scrollbar-thumb,
.chat-dialogues-content::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.chat-dialogues-content {
  border-bottom: 1px solid #E9E9E9;
  padding: 6px 0;
  overflow: auto;
  height: 100%;
  width: 100%;
}

.chat-dialogues-item {
  transition: background 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  user-select: none;
  padding: 10px 8px;
  cursor: pointer;
  display: flex;
  height: 82px;
  width: 100%;
  border-bottom: 1px solid #E9E9E9;
}

.chat-dialogues-item-active {
  background: #EAF7FE;
}

.chat-dialogues-item:hover {
  background: #EAF7FE;
}

.chat-dialogues-item-image {
  border-radius: 100%;
  display: block;
  height: 33px;
  width: 33px;
}

.chat-dialogues-item-text-wrapper {
  overflow: hidden;
  width: 100%;
}

.chat-dialogues-item-text-container {
  margin: 0 8px;
}

.chat-dialogues-item-title {
  color: rgba(0, 0, 0, 0.85);
  text-overflow: ellipsis;
  white-space: nowrap;
  user-select: none;
  overflow: hidden;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
}

.chat-dialogues-item-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  font-size: 10px;
  line-height: 14px;
  margin-top: 0;
  margin-bottom: 0;
}

.chat-dialogues-item-online {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  font-size: 10px;
  line-height: 14px;
  margin-top: 0;
  margin-bottom: 0;
}

.chat-dialogues-item-message {
  color: rgba(0, 0, 0, 0.65);
  text-overflow: ellipsis;
  white-space: nowrap;
  user-select: none;
  overflow: hidden;
  font-size: 10px;
  line-height: 14px;
  margin: 0;
}

.chat-dialogues-header-dialogue_tabs-item-notify {
  margin-left: 4px;
}

.chat-button-close-messages-bage,
.chat-dialogues-header-dialogue_tabs-item-notify,
.chat-dialogues-item-notify {
  background: #FF7031;
  border-radius: 20px;
  height: fit-content;
  line-height: 200%;
  font-weight: 600;
  font-size: 9px;
  padding: 0 8px;
  color: #FFFFFF;
}

.chat-dialogues-switch {
  align-items: center;
  user-select: none;
  padding: 10px 8px;
  display: flex;
}

.chat-dialogues-switch-element {
  display: inline-block;
  position: relative;
  height: 19px;
  width: 34px;
}

/* Hide default HTML checkbox */
.chat-dialogues-switch-element .chat-dialogues-switch-input {
  opacity: 0;
  height: 0;
  width: 0;
}

/* The slider */
.chat-dialogues-switch-slider {
  -webkit-transition: .4s;
  background-color: #EDEDED;
  border-radius: 20px;
  position: absolute;
  cursor: pointer;
  transition: .4s;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

.chat-dialogues-switch-slider:before {
  border-radius: 50%;
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.chat-dialogues-switch-input:checked + .chat-dialogues-switch-slider:before {
  background-color: #1890FF;
}

.chat-dialogues-switch-input:checked + .chat-dialogues-switch-slider:before {
  transform: translateX(15px);
}

.chat-dialogues-switch-text {
  margin-bottom: 0;
  margin-left: 7px;
}

.chat-correspondence-container {
  flex-flow: column;
  display: flex;
  height: 100%;
  width: 100%;
}

.chat-correspondence-user {
  transition: padding 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-bottom: 1px solid #E9E9E9;
  border-right: 1px solid #E9E9E9;
  border-top: 1px solid #E9E9E9;
  padding: 8px 8px 10px 8px;
  background: #FFFFFF;
  display: flex;
}

.chat-correspondence-user-img {
  border-radius: 100%;
  height: 48px;
  width: 48px;
}

.chat-correspondence-user-info-container {
  flex-flow: column;
  display: flex;
}

.chat-correspondence-user-info > span:not(:last-child) {
  margin-right: 10px;
}

.chat-correspondence-user-info > span {
  cursor: pointer;
}

.chat-correspondence-user-info {
  margin-bottom: auto;
  text-align: right;
  display: block;
  color: #1890FF;
}

.chat-correspondence-user-text-wrapper {
  flex-grow: 1;
}

.chat-correspondence-user-text-container {
  margin-left: 8px;
  display: block;
}

.chat-correspondence-user-email,
.chat-correspondence-user-name {
  color: rgba(0, 0, 0, 0.85);
  line-height: 160%;
  font-weight: 600;
  font-size: 12px;
  margin: 0;
}

.chat-correspondence-user-status {
  color: rgba(0, 0, 0, 0.55);
  line-height: 175%;
  margin-bottom: 0;
  font-size: 10px;
}

.chat-correspondence-user-status_btn {
  background: #1890FF;
  border-radius: 16px;
  text-align: center;
  line-height: 14px;
  padding: 2px 6px;
  font-weight: 600;
  cursor: pointer;
  font-size: 10px;
  color: #FFFFFF;
}

.chat-correspondence-content {
  background: #FAFAFA;
  overflow: auto;
  padding: 10px;
  display: flex;
  height: 100%;
  flex-direction: column-reverse;
}

.message-empty_block {
  width: 100%;
  border: 1px solid #E9E9E9;
  padding: 15px 10px;
  background: #FFFFFF;
  border-radius: 15px;
  text-align: center;
  line-height: 16px;
}

.chat-messages-wrapper {
  flex-direction: column-reverse;
  display: flex;
  overflow: hidden !important;
  /*height: 100%;*/
}

.chat-messages-right,
.chat-messages-left {
  margin-bottom: 10px;
  padding: 4px 8px;
  max-width: 80%;
}

.chat-messages-center {
  margin-bottom: 10px;
  border-radius: 16px;
  padding: 2px 6px;
}

.chat-messages-time {
  background: #1890FF;
}

.chat-messages-center > .chat-messages-text {
  line-height: 175%;
  font-weight: 600;
  font-size: 10px;
  color: #FFFFFF;
}

.chat-messages-left-wrapper,
.chat-messages-center-wrapper,
.chat-messages-right-wrapper {
  display: flex;
}

.chat-messages-center-wrapper {
  justify-content: center;
}

.chat-messages-left-wrapper {
  justify-content: flex-start;
}

.chat-messages-right-wrapper {
  justify-content: flex-end;
}

.chat-messages-left {
  border-radius: 6px 6px 6px 0;
}

.chat-messages-right {
  border-radius: 6px 6px 0 6px;
}

.chat-messages-title {
  color: rgba(0, 0, 0, 0.85);
  margin-bottom: 4px;
  line-height: 140%;
  font-weight: 500;
  font-size: 12px;
}

.chat-messages-text {
  color: rgba(0, 0, 0, 0.85);
  line-height: 140%;
  margin-bottom: 0;
  font-size: 12px;
  word-wrap: anywhere;
}

.chat-messages-user {
  background: #EDEDED;
}

.chat-messages-system {
  background: #FFEAE0;
}

.chat-messages-support {
  background: #EAF7FE;
}

.chat-close-button {
  transform: translateX(-50%);
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  border-radius: 100%;
  position: absolute;
  margin-top: -35px;
  cursor: pointer;
  color: #1890FF;
  display: none;
  height: 30px;
  width: 30px;
  left: 50%;
}

.chat-button-close-messages-wrapper {
  align-items: center;
  margin-right: 8px;
  cursor: pointer;
  display: none;
}

.chat-button-close-messages {
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
  height: 22px;
  width: 22px;
}

.chat-button-close-messages-icon {
  color: #1890FF;
}

.chat-button-close-messages-bage {
  position: absolute;
  top: -12px;
  right: -6px;
}

.chat-correspondence-user-status_btn-mobile {
  width: fit-content;
  padding: 2px 10px;
  display: none
}

.chat-dialogues-empty {
  color: rgba(0, 0, 0, 0.55);
  text-align: center;
  line-height: 14px;
  margin-bottom: 0;
  font-size: 12px;
}

.chat-messages-wrapper-empty {
  justify-content: center;
  align-items: center;
  display: flex;
}

.chat-input-wrapper {
  border-top: 1px solid #E9E9E9;
  align-items: center;
  background: #FFFFFF;
  padding: 9px 16px;
  max-height: 41px;
  min-height: 41px;
  display: flex;
  height: 41px;
}

.chat-input::placeholder {
  color: rgba(0, 0, 0, 0.45);
  font-size: 10px;
}

.chat-input {
  width: 100%;
  margin-right: 14px;
}

.chat-input > input {
  outline: none !important;
  border: none;
  width: 100%;
}

.chat-input-icons > span:not(:last-child) {
  margin-right: 14px;
}

.chat-input-icons > span:before {
  font-size: 19px;
  cursor: pointer;
}

.chat-input-icons > span:last-child {
  color: #188FFC;
}

.chat-input-icons {
}

@media (max-width: 591px) {
  .chat-container {
    background: rgba(24, 144, 255, 0.3);
    backdrop-filter: blur(4px);
    height: 100%;
    width: 100%;
    top: 0;
  }

  .chat-dialogues-container {
    background: transparent;
    max-width: 100%;
    border: none;
  }

  .chat-dialogues-content {
    padding: 10px;
  }

  .chat-wrapper {
    box-shadow: 0 4px 20px rgba(11, 31, 50, 0.2);
    height: calc(100% - 40px);
    border-radius: 12px 12px 0;
    margin-top: auto;
    width: 100%;
  }

  .chat-correspondence-user,
  .chat-dialogues-header {
    border-radius: 12px 12px 0 0;
    padding: 20px;
  }

  .chat-button-close-messages-wrapper,
  .chat-close-button {
    display: flex;
  }

  .chat-container-hide {
    transition: backdrop-filter 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) 0.3s,
    background 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) 0.3s;
    background: rgba(24, 144, 255, 0);
    backdrop-filter: blur(0);
    transform: translate(0);
  }

  .chat-container-show {
    transition: backdrop-filter 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),
    background 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    background: rgba(24, 144, 255, 0.3);
    backdrop-filter: blur(4px);
    transform: translateX(0);
  }

  .chat-wrapper-hide {
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transform: translateY(100%);
  }

  .chat-wrapper-show {
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) 0.3s;
    transform: translateY(0);
  }

  .chat-correspondence-container {
    position: absolute;
    max-width: 100%;
    width: 100%;
    right: 0;
  }

  .chat-correspondence-container-hide {
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transform: translateX(100%);
  }

  .chat-correspondence-container-show {
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transform: translateX(0);
  }
}

@media (max-width: 480px) {
  .chat-correspondence-user {
    padding: 10px;
  }

  .chat-correspondence-user-status_btn-desctop {
    display: none;
  }

  .chat-correspondence-user-status_btn-mobile {
    display: block;
  }

  .chat-messages-right,
  .chat-messages-left {
    max-width: 90%;
  }
}

.image-view-box {
  display: block;
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2147483647;
}

.image-view-mask {
  background: rgba(0, 0, 0, .8);
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.image-view-image {
  display: block;
  width: 100%;
}

.image-view-image-wrapper {
  max-width: 500px;
  width: 100%;
  max-height: 100vh;
  background: rgba(255, 0, 0, .5);
  margin-left: 50%;
  margin-top: 50vh;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 10px;
  background: #FFFFFF;
  border-radius: 10px;
}

.image-view-image-cross {
  color: #ffffff;
  position: absolute;
  right: 0;
  top: 0;
  padding: 30px;
  cursor: pointer;
  font-size: 30px !important;
  z-index: 2147483647;
}
