.upload-image-container {
  z-index: 2;
  transform: translate(-50%, -50%);
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 10px;
  background: #FFFFFF;
  max-height: 443px;
  flex-flow: column;
  max-width: 375px;
  position: fixed;
  color: #000000;
  display: flex;
  padding: 20px;
  width: 100%;
  left: 50%;
  top: 50%;
}

.upload-image-items::-webkit-scrollbar {
  width: 3px;
}

.upload-image-items::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.upload-image-items {
  grid-row-gap: 10px;
  padding-right: 5px;
  overflow: hidden auto;
}

.upload-image-item-image {
  margin-right: 10px;
}

.upload-image-item-text-container p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

.upload-image-item-text-container {
  margin-right: 5px;
  overflow: hidden;
  font-size: 16px;
  width: 100%;
}

.upload-image-item-name {
  font-weight: 500;
}

.upload-image-item-buttons > span {
  cursor: pointer;
  color: #1890ff;
}

.upload-image-item-buttons > span:not(:last-child) {
  margin-right: 10px;
}

.upload-image-buttons-container p {
  margin-bottom: 0;
  font-weight: 500;
  cursor: pointer;
  color: #1890ff;
  user-select: none;
}

.upload-image-buttons-container {
  justify-content: space-between;
  margin-top: 20px;
  font-size: 16px;
  display: flex;
}

.upload-image-buttons-right-side p:not(:last-child) {
  margin-right: 20px;
}

.upload-image-buttons-right-side {
  display: flex;
}

.upload-image-title {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 18px;
}

.upload-image-item {
  display: flex;
  margin-bottom: 10px;
}

.upload-image-container-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
