body {
  padding: 0 !important;
  font-family: 'Montserrat', sans-serif !important;
}

.ant-menu-vertical.ant-menu-sub {
  max-height: 100vh !important;
}

.ant-drawer-content-wrapper {
  z-index: 2147483632 !important;
}

.ant-drawer-mask,
.ant-modal-mask {
  z-index: 2147483631 !important;
}

.ant-notification {
  z-index: 2147483647;
}


#jvlabelWrap,
.__jivoMobileButton,
#jivo-iframe-container + jdiv > jdiv > jdiv {
  z-index: 2147483630 !important;
}

.ant-modal-wrap {
  z-index: 2147483632 !important;
}

.block {
  margin-bottom: 16px;
}

.no-border {
  border: none !important;
}

.ant-table-content {
  overflow: auto;
}

.ant-table-wrapper {
  overflow: auto;
}

.sidermenu .ant-tree li span.ant-tree-switcher {
  background: #001529;
  color: rgba(255, 255, 255, 0.65);
}

.sidermenu .ant-tree li .ant-tree-node-content-wrapper {
  color: rgba(255, 255, 255, 0.65);
}

.sidermenu .ant-tree li .ant-tree-node-content-wrapper button {
  display: none;
  border: none;
  margin: 0;
  padding: 0 5px;
}

.sidermenu .ant-tree li .ant-tree-node-content-wrapper:hover {
  background-color: #002140;
}

.sidermenu .ant-tree li .ant-tree-node-content-wrapper:hover button {
  display: inline-block;
}

.sidermenu .ant-tree li .ant-tree-node-content-wrapper.ant-tree-node-selected {
  background-color: rgba(255, 255, 255, 0.65);
}

.sidermenu .ant-tree li .ant-tree-node-content-wrapper.ant-tree-node-selected span.ant-tree-title {
  color: #001529;
}

.sidermenu .ant-tree li .ant-tree-node-content-wrapper span.ant-tree-title {
  position: relative;
}

.popover-button {
  padding: 0;
  border: none;
}

.popover-button:hover {
  border: none;
}

.toolbar .node-tag-button {
  margin-left: 16px;
}

.ant-alert,
.ant-bottom-margin {
  margin-bottom: 16px;
}

.tag-editor {
  display: inline-block;
  margin-left: 16px;
}

.drag-handle {
  position: absolute;
  top: 0;
  right: 90px;
  left: 0;
  height: 24px;
  line-height: 24px;
  text-align: center;
  font-size: 9px;
  z-index: 1000;
  background: #f5f5f5;
  cursor: grab;
}

.rightText {
  text-align: right;
}

.rightFloat {
  display: inline-block;
}

.ant-btn-card {
  border: none;
  color: #aaaaaa;
}

.ant-btn-card-danger {
  border: none;
  color: #ff4400;
}

.ant-btn-graph {
  background-color: #0c0d0e;
  color: #d4dce0;
}

.ant-btn-graph:hover {
  background-color: #1f2327;
  color: white;
}

.no-border-button {
  border: none;
}

.fade-icon-color {
  color: rgba(0, 0, 0, 0.25);
}

.pt-0 {
  padding-top: 0 !important;
}

.mb-24 {
  margin-bottom: 24px;
}

.mh50 {
  margin: 50px 0;
}

.ant-cascader-menu {
  height: auto !important;
}

.ta-l {
  text-align: left !important;
}

.opacity-45 {
  opacity: 0.45;
}

.green-button {
  color: #588C23;
  border: 1px solid #588C23;
  background-color: transparent;
}

.green-button:hover,
.green-button:focus,
.green-button.active-button {
  color: #fff;
  border: 1px solid #467a23;
  background-color: #588C23;
}

.red-button {
  color: #A60522;
  border: 1px solid #A60522;
  background-color: transparent;
}

.red-button:hover,
.red-button:focus,
.red-button.active-button {
  color: #fff;
  border: 1px solid #78041c;
  background-color: #A60522;
}

.table-nested .ant-table-expanded-row > td:last-child {
  padding: 0 48px 0 8px;
}

.table-nested .ant-table-expanded-row > td:last-child .ant-table-thead th {
  border-bottom: 1px solid #e9e9e9;
}

.table-nested .ant-table-expanded-row > td:last-child .ant-table-thead th:first-child {
  padding-left: 0;
}

.table-nested .ant-table-expanded-row > td:last-child .ant-table-row td:first-child {
  padding-left: 0;
}

.table-nested .ant-table-expanded-row .ant-table-row:last-child td {
  border: none;
}

.table-nested .ant-table-expanded-row .ant-table-thead > tr > th {
  background: none;
}

.table-nested .table-operation a:not(:last-child) {
  margin-right: 24px;
}

.table-nested .ant-table-expanded-row:hover > td {
  background: #fbfbfb;
}

.global-header .header span.trigger {
  padding: 0 24px;
  font-size: 20px;
  line-height: 64px;
  cursor: pointer;
  transition: all .3s, padding 0s;
}

.subheader {
  white-space: nowrap;
}

.subheader .header {
  min-height: 64px;
  height: auto;
  padding: 0 24px 0 0;
  background: #fff;
  position: relative;
}

@media (max-width: 480px) {
  .subheader .ant-btn {
    font-size: 12px;
    padding: 0 5px;
  }
}

.subheader h1 {
  float: left;
  font-size: 20px;
  margin-left: 24px;
  margin-bottom: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media (max-width: 576px) {
  .subheader h1 {
    font-size: 16px;
    margin-right: -7px;
  }
}

.fs-25 {
  font-size: 25px;
}

.fs-30 {
  font-size: 30px;
}

.fs-9 {
  font-size: 9px;
}

.fs-7 {
  font-size: 7px;
}

.m-0 {
  margin: 0 !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mt-13 {
  margin-top: 13px;
}

.mt-16 {
  margin-top: 16px;
}

.mt-24 {
  margin-top: 24px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-85 {
  margin-top: 85px;
}

.mt-60 {
  margin-top: 60px;
}

.text-nowrap {
  text-wrap: none;
}

.min-w-400 {
  min-width: 400px;
}

.d-ib {
  display: inline-block;
}

.panel {
  background: #fff;
  border-radius: 2px;
  padding: 24px 24px;
}

.panel .sections__button {
  white-space: nowrap;
  position: relative;
  border-radius: 4px;
  width: 100%;
}

.sections__box > .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) > span > button {
  color: #FFFFFF !important;
}

.sections-text {
  margin-right: auto;
}

@media (max-width: 1230px) {
  .information-right-side {
    max-width: 100% !important;
    width: 100% !important;
    flex: none !important;
  }

  .information-left-side {
    max-width: 100% !important;
  }
}

@media (max-width: 999px) {
  .information-right-side {
    max-width: 100% !important;
    width: 100% !important;
    flex: none !important;
  }

  .information-left-side {
    max-width: 100% !important;
    width: 100% !important;
    flex: none !important;
  }
}

.sections__box > label > span:last-child {
  align-items: center;
  display: flex;
}

.information-section-wrapper {
  grid-template-columns: max-content;
  display: grid;
}

.panel .sections__button .anticon-down {
  position: absolute;
  right: 14px;
  top: 9px;
}

@media (max-width: 991px) {
  .panel .ant-radio-group {
    display: block;
  }
}

@media (max-width: 991px) {
  .panel .ant-radio-group .ant-radio-button-wrapper {
    display: block;
    max-width: 250px;
    margin-bottom: 8px;
    border-radius: 4px !important;
    border: 1px solid #d9d9d9 !important;
  }

  .panel .ant-radio-group .ant-radio-button-wrapper::before {
    display: none !important;
  }
}

.panel__ListData {
  margin-bottom: 10px;
}

.team-my-id {
  margin-top: 6px;
  display: inline-block;
}

@media (max-width: 450px) {
  .team-my-id {
    margin-top: 0;
  }
}

.purchase-subtitle {
  display: block;
  margin-left: 24px;
  line-height: 16px;
  white-space: normal;
  color: #8C8C8C;
}

.text-center {
  text-align: center;
}

@media (max-width: 1200px) {
  .team-user-id {
    margin-bottom: 8px;
    margin-top: 2px;
  }
}

@media (max-width: 450px) {
  .global-header.sub-header {
    overflow: hidden;
  }

  .panel {
    padding: 24px;
    margin: 0;
    width: 100%;
  }

  .right .ant-input-group-wrapper {
    width: 160px;
  }

  .sub-header h1 {
    margin-left: 12px;
    margin-bottom: 0;
  }
}

.ant-layout {
  min-height: 100% !important;
}

.ant-layout .sidermenu .sider {
  box-shadow: none !important;
}

.team-user-info {
  margin-bottom: 20px;
}

.h1 {
  font-size: 22px;
}

.primaryColor {
  color: #1890ff;
}

.ant-btn-circle {
  border: none;
  background: transparent;
  box-shadow: none;
}

.ant-btn-circle:hover {
  background: transparent;
}

.ant-table-row-expand-icon {
  line-height: 15.5px;
}

b {
  font-family: "Montserrat", serif;
  font-weight: 600;
}

.o-hidden {
  overflow: hidden;
}

@media (max-width: 767px) {
  .sub-header__button {
    text-align: left;
    margin-left: 24px;
  }
}

.black-text {
  color: #000;
}

.gray-text {
  color: #8C8C8C;
}

.primary-text {
  color: #1890ff;
}

.gray-background {
  background-color: #f0f2f5;
}

.mr-10 {
  margin-right: 10px;
}

.ml-12 {
  margin-left: 12px;
}

.mr-5 {
  margin-right: 5px;
}

.mb-4 {
  margin-bottom: 4px;
}

.mt-35 {
  margin-top: 35px !important;
}

.lh-47 {
  line-height: 47px !important;
}

.mr-10-i {
  margin-right: 10px !important;
}

.mr-20 {
  margin-right: 20px;
}

.mr-24 {
  margin-right: 24px;
}

.mb-0 {
  margin-bottom: 0;
}

.mt-0 {
  margin-top: 0 !important;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.mb-18 {
  margin-bottom: 18px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-8Alert {
  margin-bottom: 8px !important;
}

.mb-40Alert {
  margin-bottom: 40px !important;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-28 {
  margin-bottom: 28px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-64 {
  margin-bottom: 64px;
}

.mv-8 {
  margin: 8px 0;
}

.mv-16 {
  margin: 16px 0;
}

.mh-24 {
  margin-left: 24px;
  margin-right: 24px;
}

.mh-5 {
  margin: 5px 0;
}

.mr-18 {
  margin-right: 18px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-5 {
  margin-left: 5px;
}

.ml-0 {
  margin-left: 0 !important;
}

.mla {
  margin-left: auto;
}

.mra {
  margin-right: auto;
}

.f-medium {
  font-weight: 500;
}

.h100 {
  height: 100%;
}

.h-250 {
  height: 250px;
}

.h-a {
  height: auto;
}

.mh100 {
  min-height: 100%;
}

.tac {
  text-align: center;
}

.c-pointer {
  cursor: pointer;
}

.pr-150 {
  padding-right: 150px;
}

.ghostNoBorderButton {
  color: #1890ff;
}

.wrapper-spin {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100%;
  width: 100%;
}

.pr {
  position: relative;
}

.p-a {
  position: absolute;
}

.p-0 {
  padding: 0;
}

.pl-60 {
  padding-left: 60px;
}

.p-fixed {
  position: fixed;
}

.full-rect {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.emailChangeForm .ant-legacy-form-item-label {
  line-height: 20px;
}

.form-control {
  width: 100% !important;
  border-radius: 2px !important;
  height: 32px !important;
  border: 1px solid #d9d9d9 !important;
}

.form-control:focus {
  border-color: #40a9ff !important;
  box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2) !important;
}

.flag-dropdown {
  border: 1px solid #d9d9d9 !important;
  border-radius: 2px 0 0 2px !important;
}

.opacity-bg {
  z-index: 10000;
  background: rgba(255, 255, 255, 0.7);
}

.non-opacity-bg {
  z-index: 10000;
  background: #fff;
}

.ta-r {
  text-align: right;
}

.ta-c {
  text-align: center;
}

.fw-b {
  font-weight: bold;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.of-h {
  overflow: hidden;
}

.p-lr-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.flex1 {
  flex: 1;
}

.menu__item_card-credit {
  display: block;
  line-height: 45px;
}

.wb-bl {
  word-break: break-all;
}

.verticalA-s {
  vertical-align: sub;
}

.w-90p {
  width: 90%;
}

.w-100p {
  width: 100%;
}

.maxw-195 {
  max-width: 195px;
}

.maxw-300 {
  max-width: 300px;
}

.lh-32 {
  line-height: 32px;
}

.lh-50 {
  line-height: 50px;
}

.lh-58 {
  line-height: 58px !important;
}

.drop-over-downward {
  border-bottom: 2px dashed #1890ff;
}

.drop-over-upward {
  border-top: 2px dashed #1890ff;
}

.ant-legacy-form-item {
  margin-bottom: 0 !important;
}

.ant-menu-inline-collapsed span span {
  opacity: 0;
}

.ant-menu-inline-collapsed a span {
  opacity: 0;
}

.ant-menu-inline-collapsed .json {
  opacity: 1;
}

.uploadTextImage {
  line-height: 15px;
  margin-top: 10px;
  color: #1890FF;
}

.uploadTextIcon {
  color: #1890FF;
}

.overflow-hidden {
  overflow: hidden;
}

.economy_geography_map .map {
  padding: 0 !important;
}

.economy_geography_map .map .jvectormap-container {
  height: 100%;
}

.economy_geography_map .map .jvectormap-container .jvectormap-zoomin,
.economy_geography_map .map .jvectormap-container .jvectormap-zoomout {
  top: 5px;
  position: absolute;
  cursor: pointer;
  width: 20px;
  height: 20px;
  color: white;
  background: rgba(31, 35, 39, 0.5);
  text-align: center;
  border-radius: 5px;
  left: 5px;
}

.economy_geography_map .map .jvectormap-container .jvectormap-zoomin:hover,
.economy_geography_map .map .jvectormap-container .jvectormap-zoomout:hover {
  background: rgba(31, 35, 39, 0.7);
}

.economy_geography_map .map .jvectormap-container .jvectormap-zoomout {
  top: 30px;
}

@media (max-width: 780px) {
  .ant-steps {
    display: block !important;
  }

  .ant-steps .ant-steps-item {
    width: 100% !important;
    display: block !important;
    padding-left: 0 !important;
    margin-bottom: 15px !important;
  }

  .ant-steps .ant-steps-item .ant-steps-item-title:after {
    display: none !important;
  }
}

@media (max-width: 780px) {
  .ant-steps {
    display: block !important;
  }

  .ant-steps .ant-steps-item {
    width: 100% !important;
    display: block !important;
    padding-left: 0 !important;
    margin-bottom: 15px !important;
  }

  .ant-steps .ant-steps-item .ant-steps-item-title:after {
    display: none !important;
  }
}

.ant-modal-mask {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

@media (max-width: 1024px) {
  .ant-modal {
    position: relative;
    max-width: initial !important;
    padding: 8px !important;
    width: 100% !important;
    height: 100%;
    margin: 0;
    left: 0;
    top: 0;
  }

  .ant-modal-content {
    min-height: 100%;
  }

  .ant-modal-body {
    height: 100%;
    padding: 16px 16px 120px 16px;
  }

  .alert-withdrawal-form {
    margin-bottom: 24px;
  }
}

.ant-picker-dropdown {
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}

.ant-select-dropdown,
.ant-picker-dropdown {
  z-index: 2147483648 !important;
}

.road-map-form-table .ant-row {
  margin-bottom: 0 !important;
}

.road-map-form-table .ant-input-number-handler-wrap {
  display: none !important;
}

.road-map-form-table .ant-table-tbody .ant-table-cell {
  padding: 0 !important;
  vertical-align: top;
  border-bottom: 0 !important;
}

.road-map-form-table .ant-table-cell:last-child {
  width: 50px;
}

.road-map-form-table .ant-table-cell:nth-child(2),
.road-map-form-table .ant-table-cell:nth-child(3) {
  min-width: 507px;
}

.road-map-form-table .ant-form-item-control-input-content {
  display: flex;
}

.road-map-form-table .ant-select-selector {
  height: 152px !important;
  align-items: center;
}

.road-map-form-table textarea {
  height: 152px !important;
  max-height: 100% !important;
}

.road-map-form-table .ant-input-number {
  width: 100%;
}

.road-map-form-table input {
  height: 150px !important;
  max-height: 100% !important;
}

.ant-btn-active {
  color: #40a9ff !important;
  border-color: #40a9ff !important;
  background: #FFFFFF !important;
}
