@font-face {
  font-family: 'uploadImageAQUIX';
  src: url('./public/fonts/icomoon.ttf?brlowb') format('truetype'),
  url('./public/fonts/icomoon.woff?brlowb') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.jsonUI {
  font-family: 'uploadImageAQUIX' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-editor:before {
  content: "\e900";
}
.icon-trashcan:before {
  content: "\e901";
}


.buttons {
  transform: translateX(calc(100% + 20px));
  position: absolute;
  border-radius: 2px;
  display: flex;
  background: #188FFC;
  right: 0;
}

.buttons::before {
  position: absolute;
  content: '';
  width: 7px;
  height: 10px;
  left: -15px;
  top: 50%;
  transform: translateY(-50%);
  border: 8px solid transparent;
  border-right: 8px solid #188FFC;
}

.buttons span {
  transition: color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  color: #FFFFFF;
  font-size: 15px;
  padding: 8px 10px;
  display: block;
}

.buttons span:hover {
  color: #dedede;
}

@media (max-width: 575px) {
  .buttons {
    transform: translate(0, calc(-100% - 15px));
    top: 0;
  }

  .buttons::before {
    top: auto;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    border: 8px solid transparent;
    border-top: 8px solid #188FFC;
  }
}
