.page-component {
  width: 100%;
  font-family: ubuntu, arial, helvetica, sans-serif;
  margin-top: 110px;
  margin-bottom: auto;
}

.news-page {
  font-family: ubuntu, arial, helvetica, sans-serif;
  padding-bottom: 66px;
  width: 100%;
}

.center-page {
  margin-top: 110px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.page-component__title {
  font-weight: bold;
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 75px;
  margin-top: 60px;
  font-size: 80px;
  color: white;
  padding-left: 120px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #212121;
}

.page-component__content-container {
  overflow: hidden;
  display: flex;
  width: 100%;
  padding: 0 120px 270px 120px;
  position: relative;
}

.content-container__navigation {
  margin-right: 50px;
  width: 100%;
  max-width: 380px;
}

.navigation-container {
  max-width: 380px;
  top: 110px;
}

.content-container__content {
  width: 100%;
  position: relative;
}

.content__title {
  font-weight: bold;
  font-size: 28px;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  margin-bottom: 50px;
  line-height: 150%;
}

.content__image-text {
  font-size: 20px;
}

.content__text {
  font-size: 20px;
  line-height: 200%;
}

.paragraph50 {
  margin-bottom: 50px;
}

.paragraph80 {
  margin-bottom: 80px !important;
}

.uppercase {
  text-transform: uppercase;
}

.content__link {
  text-decoration: underline;
  color: #212121;
}

.content__link:hover {
  color: #5A71CF;
}

.navigation__link {
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  position: relative;
  line-height: 150%;
  font-size: 20px;
  display: block;
  color: #212121;
}

.navigation__link:last-child {
  margin-bottom: 0;
}

.navigation__link:hover {
  color: #586ECE;
}

.investors__content__list {
  display: flex;
}

.investors__list__item {
  margin-left: 30px;
  margin-right: 10px;
  width: 50%;
}

.investors__list__item:last-child {
  margin-right: 0;
}

.investors__list__item-title,
.investors__list__item-text {
  font-size: 20px;
  line-height: 200%;
}

.investors__list__item-title {
  font-weight: bold;
  position: relative;
  text-transform: uppercase;
}

.investors__list__item-title:before {
  content: '•';
  position: absolute;
  left: -30px;
  font-size: 30px;
}

.content__list {
  padding-left: 0;
}

.list__item:before {
  content: '•';
  font-size: 40px;
  position: absolute;
  left: -32px;
}

.list__item {
  position: relative;
  margin-left: 30px;
  list-style-type: none;
}

@media (max-width: 1400px) and (min-width: 1024px) {
  .investors__content__list {
    display: block;
  }

  .investors__list__item {
    width: auto;
  }
}

@media (max-width: 1920px) {
  .page-component__title {
    font-size: 70px
  }
}

@media (max-width: 1680px) {
  .content__text,
  .investors__list__item-title,
  .navigation__link {
    font-size: 18px;
  }

  .content__image-text {
    font-size: 18px;
  }

  .content__title {
    font-size: 26px;
  }
}

@media (max-width: 1600px) {
  .page-component__content-container {
    padding: 0 40px 200px 40px;
  }

  .page-component__title {
    padding-left: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .content__title {
    margin-bottom: 30px;
  }

  .navigation-container {
    max-width: 280px;
  }

  .content-container__navigation {
    margin-right: 25px;
    max-width: 280px;
    height: 36px;
  }

  .paragraph50 {
    margin-bottom: 30px;
  }

  .news-page {
    padding-bottom: 86px;
  }
}

@media (max-width: 1400px) {
  .page-component__title {
    font-size: 60px;
  }

  .content__image-container::-webkit-scrollbar {
    height: 2px;
  }

  .content__image-container::-webkit-scrollbar-thumb {
    background-color: #b4b4b4;
    border-radius: 20px;
    border: none;
  }

  .navigation-container {
    top: 110px;
  }

  .content__title {
    font-size: 30px;
  }
}

@media (max-width: 1200px) {
  .page-component {
    margin-top: 90px;
  }

  .center-page,
  .news-page {
    margin-top: 90px;
  }
}

@media (max-width: 1024px) {
  .page-component__content-container {
    padding: 0 40px 200px 40px;
  }

  .content__title {
    font-size: 24px;
  }

  .content-container__navigation {
    margin-bottom: 50px;
    max-width: 100%;
  }

  .page-component__title {
    font-size: 50px;
  }

  .navigation-container::-webkit-scrollbar {
    height: 2px;
  }

  .navigation-container::-webkit-scrollbar-thumb {
    border-radius: 20px;
    border: 3px solid rgba(33, 33, 33, .2);
  }

  .navigation-container {
    overflow-y: initial;
    overflow-x: auto;
    background: #ffffff;
    max-width: 100%;
    display: flex;
    height: 36px;
    width: 100%;
    z-index: 1;
    top: 90px;
  }

  .page-component__content-container {
    display: block;
  }

  .navigation__link {
    white-space: nowrap;
    margin-right: 20px;
    margin-bottom: 0;
    font-size: 16px;
  }

  .active > .navigation__link {
    color: #586ece;
    border-bottom: 2px solid #586ece;
  }

  .content__text {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .content__image-text {
    font-size: 16px;
  }

  .paragraph50 {
    margin-bottom: 20px;
  }

  .list__item {
    margin-bottom: 10px;
  }

  .investors__list__item-title,
  .investors__list__item-text {
    font-size: 16px;
    line-height: 200%;
  }
  .news-page {
    padding-bottom: 0;
    margin-top: 0;
  }
}

@media ( max-width: 768px ) {
  .page-component__title {
    padding-left: 20px;
    font-size: 30px;
  }

  .content__title {
    letter-spacing: 0.3em;
  }

  .page-component__content-container {
    padding: 0 20px 60px 20px;
  }

  .investors__content__list {
    display: block;
  }

  .investors__list__item {
    width: auto;
  }

  .content__info-counts {
    display: block;
    width: 100%;
  }

  .content__title {
    line-height: 160%;
  }
}
