@font-face {
  font-family: 'AQUIX-mailing';
  src: url('../public/fonts/AQUIX.ttf?hduy72') format('truetype'),
    url('../public/fonts/AQUIX.woff?hduy72') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-send:before {
  content: "\e95f";
}
.icon-view:before {
  content: "\e960";
}
.icon-pause:before {
  content: "\e961";
}
.icon-delete:before {
  content: "\e91a";
}
.icon-edit:before {
  content: "\e91e";
}
