.mailing-layout th {
  color: rgba(0, 0, 0, 0.45) !important;
}

@media (max-width: 480px) {
  .category-buttons {
    display: flex;
    flex-direction: column !important;
    align-items: center !important;
  }

  .category-buttons label {
    width: 100%;
    max-width: initial !important;
  }
}