.mailing-form-block {
  margin: 0 11px;
  width: calc(50% - 22px);
}

.bottom-buttons {
  display: flex;
  border-top: 1px solid rgba(0,0,0,0.1);
  justify-content: flex-end;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 90px;
  width: 100%;
  background-color: #fff;
  padding-right: 80px;
  padding-top: 14px;
}

.bottom-button {
  margin-right: 10px;
}

.mailing-template-block {
  width: 100%;
  margin: 0 11px;
}

@media (max-width: 700px) {
  .mailing-form-block {
    margin: 0 11px;
    width: calc(100% - 22px);
  }
}

@media (max-width: 650px) {
  .bottom-buttons {
    flex-direction: column;
    padding-right: initial;
    height: initial;
    position: initial;
    justify-content: initial;
    align-items: center;
    padding-right: initial;
    padding-bottom: 20px;
  }

  .bottom-buttons > div {
      width: 100%;
  }

  .bottom-buttons > div > div > div > div {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .bottom-button {
    width: 100%;
    max-width: 300px;
    margin-right: initial;
  }

  .bottom-button div div div {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}